*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    text-align: center;
    width: 40%;
}
.option{
    padding: 20px;
    margin: 5px;
    background-color: antiquewhite;
}
.hidden, .escondido{
    display: none;
}
.iniciar{
    width: 100%;
    height: 50px;
    background-color: crimson;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
        cursor: pointer;


}
.trocar{
    width: 100%;
    height: 50px;
    margin-top: 5px;
    background-color: yellow;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}